{% extends 'base.html.twig' %}

{% block title %}Lista zamówień{% endblock %}
{% block body %}

    <div class="CSSTableGenerator" >
        <table >
            <tr>
                <td>
ID
                </td>
                <td >
DATA ZAMÓWIENIA
                </td>
                <td>
UŻYTKOWNIK
                </td>
                <td>
SAMOCHÓD
                </td>
                <td>
STATUS ZAMÓWIENIA
                </td>
                {% if is_granted("ROLE_ADMIN") %}
                <td>
            AKCJE
                </td>
                {% endif %}
            </tr>


        {% for hire in hires %}
            <tr>
                {#<td><a href="{{ path('zamowienia_show', { 'id': hire.id }) }}">{{ hire.id }}</a></td>#}
                <td>{{ hire.id }}</td>
                <td>{% if hire.date %}{{ hire.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ hire.user }}</td>
                <td>{{ hire.car }}</td>
                <td>{{ hire.status }}</td>
                {% if is_granted("ROLE_ADMIN") %}
                    <td>
                        AKCJE
                    </td>
                {% endif %}
            </tr>
        {% endfor %}

        </table>
    </div>
    
{% endblock %}
