{% extends 'base.html.twig' %}

{% block body %}

        {% for vehicle in vehicles %}
            <article class="post summary hentry" itemscope itemprop="blogPost">

                <header class="entry-header">

                    <h2 class="entry-title" itemprop="headline">
                        <a href="{{ path('_show', {'id': vehicle.id}) }}" title="Article Title" rel="bookmark" itemprop="url">
                            {{ vehicle.name }}</a></h2>

                    <div class="entry-meta">

										<span class="post-date">
											<i class="fa fa-clock-o fa-fw"></i> <span class="updated">
                                                {{ vehicle.created | date('Y-m-d H:i:s') }}</span>
										</span> <!-- .post-date -->

										<span class="post-author">
											<i class="fa fa-user fa-fw"></i> Dodane przez
                                            <span class="vcard"><a class="fn url" href="#">Admin</a></span>
										</span> <!-- .post-author -->


										<span class="post-tags">
											<i class="fa fa-tags fa-fw"></i>
                                            Marka: <a href="#" rel="tag">{{ vehicle.brand[:15] }}</a>,
                                            Rok: <a href="#" rel="tag">{{ vehicle.year[:10] }}</a>,
                                            Silnik: <a href="#" rel="tag">{{ vehicle.engine[:15] }}</a>
										</span> <!-- .post-tags -->

                    </div> <!-- .entry-meta -->

                </header> <!-- .entry-header -->

                <div class="entry-thumbnail">
                    <a href="article.html" title="Blog Post">
                        <img src="{{ vehicle.photoUrl }}" alt="Zdjecie" itemprop="image">
                    </a>
                </div> <!-- .entry-thumbnail -->

                <div class="entry-summary" itemprop="articleBody">

                    <p>{{ vehicle.description }}</p>
                    <a class="more button" href="{{ path('_show', {'id': vehicle.id}) }}">PRZEJDŹ DO SZCZEGÓŁÓW</a>

                </div> <!-- .entry-summary -->

            </article> <!-- .post.summary -->
        {% endfor %}

{% endblock %}
