{% extends 'base.html.twig' %}


{% block title %}{{ vehicle.name }}{% endblock %}
{% block body %}
    <div class="content">

        <article class="post hentry" itemscope="" itemprop="blogPost" itemtype="http://schema.org/BlogPosting">

            <header class="entry-header">

                <h2 class="entry-title" itemprop="headline">{{ vehicle.name }}</h2>

                <div class="entry-meta">

										<span class="post-date">
											<i class="fa fa-clock-o fa-fw"></i> <span class="updated">{{ vehicle.created | date('Y-m-d H:i:s') }}</span>
										</span> <!-- .post-date -->

										<span class="post-author">
											<i class="fa fa-user fa-fw"></i> Dodane przez <span class="vcard"><a class="fn url" href="#">Admin</a></span>
										</span> <!-- .post-author -->


										<span class="post-tags">
                                            Marka: <a href="#" rel="tag">{{ vehicle.brand[:15] }}</a>,
                                            Rok: <a href="#" rel="tag">{{ vehicle.year[:10] }}</a>,
                                            Silnik: <a href="#" rel="tag">{{ vehicle.engine[:15] }}</a>
										</span> <!-- .post-tags -->

                </div> <!-- .entry-meta -->

            </header> <!-- .entry-header -->

            <div class="entry-image">
                <img src="{{ vehicle.photoUrl }}" alt="Blog Post" itemprop="image">
            </div> <!-- .entry-image -->

            <div class="entry-content" itemprop="articleBody">

                <p>{{ vehicle.description }}</p>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a class="hire button" href="{{ path('zamowienia_hire', {'car': vehicle.name}) }}">WYPOŻYCZ</a>

                {% else %}
                    <p> Zaloguj/Zarejestruj się aby móc wypożyczać </p>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <a class=" button" href="{{ path('_edit', { 'id': vehicle.id }) }}">EDYTUJ POJAZD</a>
                    {{ form_start(delete_form, {'attr': {'style': 'display:inline-block'}}) }}
                        <button type=submit class="danger button" href="javascript:void(0)">USUŃ POJAZD</button>
                    {{ form_end(delete_form) }}

                {% endif %}
            </div> <!-- .entry-content -->

        </article> <!-- .post -->

    </div>


{% endblock %}
